/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
/* Moonlight Theme */
.k-chart .k-mask {
  background-color: #212a33;
  filter: alpha(opacity=68);
  -moz-opacity: 0.68;
  opacity: 0.68;
}
.k-chart .k-selection {
  border-color: rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -moz-transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -o-transition: box-shadow 0.2s linear, border-color 0.2s linear;
}
.k-chart .k-selection:hover {
  border-color: #ffcb0b;
  -moz-box-shadow: inset 0 3px 8px rgba(255, 203, 11, 0.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(255, 203, 11, 0.4);
  box-shadow: inset 0 3px 8px rgba(255, 203, 11, 0.4);
}
.k-chart .k-handle {
  background-color: #212a33;
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}
.k-chart .k-handle:hover {
  background-color: #ffcb0b;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 2px solid #212a33;
  -moz-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
  background: #212a33;
  color: #fefefe;
}
.k-chart .k-navigator-hint .k-scroll {
  background: rgba(254, 203, 11, 0.9);
  height: 4px;
}
/* Map */
.k-map .k-marker {
  background-image: url("Moonlight/markers.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .k-map .k-marker {
    background-image: url("Moonlight/markers_2x.png");
  }
}
