/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
/* Default Theme */

.k-chart .k-mask {
    background-color: #1c1c1c;
    filter: alpha(opacity=68);
    -moz-opacity: 0.68;
    opacity: 0.68;
}

.k-chart .k-selection {
    border-color: #5a5a5a;
}

.k-chart .k-handle {
    width: 15px;
    height: 15px;
    background-color: #00b0ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.k-chart .k-leftHandle {
    left: -8px;
}

.k-chart .k-rightHandle {
    right: -8px;
}

.k-chart .k-handle:hover {
    background-color: #00b0ff;
    border-color: #00b0ff;
}

.k-chart .k-navigator-hint .k-tooltip {
    border: 3px solid #ffffff;
    -moz-box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    background: #ffffff;
    color: #242424;
}

.k-chart .k-navigator-hint .k-scroll {
    background: #3f51b5;
    height: 4px;
}

.k-chart-tooltip {
    background-image: none;
}

/* Map */

.k-map .k-marker {
    background-image: url("Default/markers.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .k-map .k-marker {
        background-image: url("Default/markers_2x.png");
    }
}

.k-map .k-attribution {
    color: #666666;
}