/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
/* HighContrast Theme */
.k-chart .k-mask {
  background-color: #2c232b;
  filter: alpha(opacity=60);
  -moz-opacity: 0.60;
  opacity: 0.60;
}
.k-chart .k-selection {
  border-color: #664e62;
  -moz-box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -moz-transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -o-transition: box-shadow 0.2s linear, border-color 0.2s linear;
}
.k-chart .k-selection:hover {
  border-color: #ffffff;
  -moz-box-shadow: inset 0 0 20px rgba(250, 0, 214, 0.5);
  -webkit-box-shadow: inset 0 0 20px rgba(250, 0, 214, 0.5);
  box-shadow: inset 0 0 20px rgba(250, 0, 214, 0.5);
}
.k-chart .k-handle {
  background-color: #ffffff;
  width: 11px;
  height: 11px;
}
.k-chart .k-leftHandle {
  left: -6px;
}
.k-chart .k-rightHandle {
  right: -6px;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 0;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  background: #a7008f;
  color: #ffffff;
}
.k-chart .k-navigator-hint .k-scroll {
  background: #ffffff;
}
.k-chart .k-tooltip,
.k-sparkline .k-tooltip {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAABkCAYAAACGqxDMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGRJREFUeNrs19EJgDAMQMFG3X9bf01xBvMRzGWA46UUSiMzYxXOsYoHCAQCgUDgj8GrGn3BaF94ti8ETriHAQQ2eAIUfi+8q8GsBp/24MCVB57hsEL/FCAQCAQCgUAgsDm4BRgAO7ERCNGW1L4AAAAASUVORK5CYII=);
  background-position: 0 -37px;
}
/* Map */
.k-map .k-marker {
  background-image: url("HighContrast/markers.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .k-map .k-marker {
    background-image: url("HighContrast/markers_2x.png");
  }
}
