/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
/* MetroBlack Theme */
.k-metroblack .k-mask {
  background-color: #0e0e0e;
  filter: alpha(opacity=60);
  -moz-opacity: 0.60;
  opacity: 0.60;
}
.k-metroblack .k-selection {
  border-color: #cdcdcd;
  -moz-box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -moz-transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -o-transition: box-shadow 0.2s linear, border-color 0.2s linear;
}
.k-metroblack .k-selection:hover {
  border-color: #2de6e4;
  -moz-box-shadow: inset 0 0 20px rgba(0, 171, 169, 0.5);
  -webkit-box-shadow: inset 0 0 20px rgba(0, 171, 169, 0.5);
  box-shadow: inset 0 0 20px rgba(0, 171, 169, 0.5);
}
.k-metroblack .k-handle {
  background-color: #cdcdcd;
  width: 1px;
}
.k-metroblack .k-handle:hover {
  background-color: #2de6e4;
  width: 3px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-metroblack .k-navigator-hint .k-tooltip {
  border: 0;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  background: #049e9d;
  color: #ffffff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-metroblack .k-navigator-hint .k-scroll {
  background: rgba(255, 255, 255, 0.6);
  height: 4px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-chart .k-tooltip,
.k-sparkline .k-tooltip {
  background-image: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* Map */
.k-map .k-marker {
  background-image: url("MetroBlack/markers.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .k-map .k-marker {
    background-image: url("MetroBlack/markers_2x.png");
  }
}
