/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
/* BlueOpal Theme */
.k-chart .k-selection {
  border-color: #94c0d2;
  -moz-box-shadow: inset 0 3px 10px rgba(148, 192, 210, 0.2);
  -webkit-box-shadow: inset 0 3px 10px rgba(148, 192, 210, 0.2);
  box-shadow: inset 0 3px 10px rgba(148, 192, 210, 0.2);
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -moz-transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -o-transition: box-shadow 0.2s linear, border-color 0.2s linear;
}
.k-chart .k-selection:hover {
  border-color: #7dd3f6;
  -moz-box-shadow: inset 0 0 15px rgba(125, 211, 246, 0.8);
  -webkit-box-shadow: inset 0 0 15px rgba(125, 211, 246, 0.8);
  box-shadow: inset 0 0 15px rgba(125, 211, 246, 0.8);
}
.k-chart .k-handle {
  background-color: #e9f3f8;
  border: 1px solid #94c0d2;
  width: 9px;
  height: 9px;
}
.k-chart .k-handle:hover {
  background-color: #92daf7;
  border-color: #7ec6e3;
}
.k-chart .k-leftHandle {
  left: -6px;
}
.k-chart .k-rightHandle {
  right: -6px;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 0;
  -moz-box-shadow: 0 1px 3px rgba(154, 171, 178, 0.7);
  -webkit-box-shadow: 0 1px 3px rgba(154, 171, 178, 0.7);
  box-shadow: 0 1px 3px rgba(154, 171, 178, 0.7);
  background: #ffffff;
  color: #2a3236;
}
.k-chart .k-navigator-hint .k-scroll {
  background: #3387b7;
}
/* Map */
.k-map .k-marker {
  background-image: url("BlueOpal/markers.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .k-map .k-marker {
    background-image: url("BlueOpal/markers_2x.png");
  }
}
