/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
/* Black Theme */
.k-chart .k-mask {
  background-color: #3d3d3d;
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  opacity: 0.70;
}
.k-chart .k-selection {
  border-color: #8e8e8e;
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -moz-transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear, border-color 0.2s linear;
  -o-transition: box-shadow 0.2s linear, border-color 0.2s linear;
}
.k-chart .k-selection:hover {
  border-color: #ffffff;
  -moz-box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.4);
}
.k-chart .k-handle {
  background-color: #8e8e8e;
  width: 1px;
}
.k-chart .k-handle:hover {
  background-color: #ffffff;
  width: 3px;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 0;
  -moz-box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.4);
  background: #3d3d3d;
  color: #ffffff;
}
.k-chart .k-tooltip {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAABkCAYAAACGqxDMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGRJREFUeNrs19EJgDAMQMFG3X9bf01xBvMRzGWA46UUSiMzYxXOsYoHCAQCgUDgj8GrGn3BaF94ti8ETriHAQQ2eAIUfi+8q8GsBp/24MCVB57hsEL/FCAQCAQCgUAgsDm4BRgAO7ERCNGW1L4AAAAASUVORK5CYII=);
  background-position: 0 -37px;
}
.k-chart .k-navigator-hint .k-scroll {
  background: #ffffff;
}
/* Map */
.k-map .k-marker {
  background-image: url("Black/markers.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .k-map .k-marker {
    background-image: url("Black/markers_2x.png");
  }
}
