/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
@input-height: 1.65em;
@input-indent: .33em;
@editor-icon-size: 2em;
@menu-link-padding: .5em 1.1em .4em;
@button-padding: 2px 7px 2px;
@treeview-inner-padding: 1px 0.3333em 1px 0.25em;
@treeview-inner-margin: 1px 0 1px 0.16666em;
@scheduler-link-padding: 0 1.1em;
@grid-header-padding: .22em .2em .28em;
@icon-positioning: "default";

@import "common/all.less";
