/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
@image-folder: "MetroBlack";
@texture: none;
@tooltip-texture: none;
@fallback-texture: none;

/* Widget Base Styles */
@widget-text-color: #d5d5d5;
@inverse-text-color: #1c1c1c;
@widget-gradient: none;
@widget-background-color: #363636;
@widget-border-color: #4d4d4d;
@widget-shadow: none;

/* Inputs */
@input-background-color: #363636;
@input-text-color: @widget-text-color;

/* Links */
@link-text-color: #428bca;

/* Headers */
@header-text-color: #fff;
@header-background-color: #3f51b5;

/* Buttons */
@button-text-color: @widget-text-color;
@button-background-color: #606060;

/* Group Base Styles */
@group-background-color: #3f51b5;
@group-border-color: rgba(0, 0, 0, 0.2);

/* Content */
@content-background-color: @widget-background-color;


/* Widget States */

/* Hover State */
@hover-text-color: @widget-text-color;
@hover-gradient: none;
@hover-background-color: #363636;
@hover-border-color: #ebebeb;
@hover-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);

/* Selects, Dropdowns */
@select-background-color: #363636;
@select-border-color: #363636;
@select-hover-background-color: #606060;
@select-group-background-color: #ffffff;

/* Selected State */
@selected-text-color: @accent-color;
@selected-gradient: none;
@selected-background-color: #363636;
@selected-border-color: #606060;
@selected-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

/*Focused State*/
@focused-border-color: #67afe9;
@focused-shadow: 0 2px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05);
@focused-item-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.3);
@focused-active-item-shadow: none;

/* Active State */
@active-text-color: @widget-text-color;
@active-gradient:  none;
@active-background-color: #ffffff;
@active-border-color: #cccccc;
@active-shadow: none;

/* Error State */
@error-text-color: #b94a48;
@error-background-color: #f2dede;
@error-border-color: #eed3d7;

/* Disabled State */
@disabled-text-color: #999999;

/* Notification */
@notification-info-background-color: #207ec8;
@notification-info-text-color: #fff;
@notification-info-border-color: #207ec8;
@notification-success-background-color: #429246;
@notification-success-text-color: #fff;
@notification-success-border-color: #429246;
@notification-warning-background-color: #cdaa1d;
@notification-warning-text-color: #fff;
@notification-warning-border-color: #cdaa1d;
@notification-error-background-color: #c93b31;
@notification-error-text-color: #fff;
@notification-error-border-color: #c93b31;

/* ToolTip */
@tooltip-text-color: #fff;
@tooltip-background-color: rgba(100,100,100,.9);
@tooltip-border-color: rgba(100,100,100,.9);

/* Validation Message */
@validation-text-color: #fff;
@validation-background-color: #cdaa1d;
@validation-border-color: #cdaa1d;

/* Splitter */
@splitbar-background-color: @button-background-color;

/* Slider */
@draghandle-border-radius: 13px;
@draghandle-border-color: #3f51b5;
@draghandle-background-color: #3f51b5;
@draghandle-shadow: 0 0 0 1px #c4c4c4;
@draghandle-hover-border-color: @draghandle-border-color;
@draghandle-hover-background-color: @draghandle-background-color;
@draghandle-hover-shadow: 0 0 0 8px RGBA(63, 81, 181, 0.3);

/* Grid */
@alt-background-color: #5a5a5a;
@nested-alt-background-color: darken(@alt-background-color, 8%);
@cell-border-color: #e7e7e7;
@column-highlight-background-color: #e9e9e9;
@active-filter-background-color: @active-background-color;

/* Scheduler */
@scheduler-background-color: @widget-background-color;
@current-time-color: @error-border-color;
@event-background-color: #fbc02d;
@event-text-color: @header-text-color;
@event-inverse-text-color: @widget-text-color;
@scheduler-nonwork-background-color: @secondary-background-color;
@resize-background-color: #fff;

/* Upload */
@upload-progress-background-color: #3f51b5;
@upload-progress-text-color: #06c;
@upload-success-background-color: #fce68d;
@upload-success-text-color: @inverse-text-color;
@upload-error-background-color: #fce68d;
@upload-error-text-color: @widget-text-color;

/* Gantt*/

@task-summary-color: lighten(@header-background-color, 25%);
@task-summary-selected-color: lighten(@selected-background-color, 25%);

/* Loading Indicators */
@loading-panel-color: #fff;

/* Shadows */
@shadow-color: rgba(0, 0, 0, .2);
@shadow-inset-color: #ccc;

/* Border Radii */
@main-border-radius: 2px;
@list-border-radius: @main-border-radius - 1;
@inner-border-radius: @main-border-radius - 1;
@slider-border-radius: 13px;

/* Icons */
@default-icon-opacity: 1;

@calendar-border-radius: 50%;
@calendar-content-text-color: @widget-text-color;
@calendar-footer-background: @widget-background-color;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @widget-background-color;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background-color;
@calendar-footer-active-background: @widget-background-color;
@calendar-group-background-color: @group-background-color;
@button-border-color: #606060;
@menu-border-color: @widget-border-color;
@tabstrip-items-border: transparent;
@tabstrip-active-background: @widget-background-color;
@tabstrip-tabs-color: #fff;
@form-widget-color: @widget-text-color;
@drop-down-border-color: #606060;
@drop-down-hover-border-color: #363636;
@drop-down-focused-border-color: #606060;
@drop-down-background: #606060;
@drop-down-text-color: @widget-text-color;
@secondary-border-color: #cccccc;
@secondary-text-color: #fff;
@numeric-selected-background: #ebebeb;
@panelbar-items-border: @widget-border-color;
@panelbar-content-background: @content-background-color;
@panelbar-content-color: @widget-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @content-background-color;
@icon-background-color: transparent;
@disabled-background-color: @button-background-color;
@disabled-border-color: @button-background-color;
@disabled-gradient: @widget-gradient;

//new var-s
@treeview-text-color: #428bca;
@treeview-hover-text-color: #428bca;
@tabstrip-tabs-hover-color: #428bca;
@pager-hover-color: #428bca;
@multiselect-buttons-border-color: #357ebd;
@multiselect-buttons-color: #ffffff;
@multiselect-buttons-background: #428bca;
@multiselect-buttons-hover-background: #3276b1;
@multiselect-buttons-hover-border-color: #295f8e;
@slider-selection-background-color: #3f51b5;
@form-widgets-border-color: #363636;
@pager-text-color: #a5a5a5;
@draghandle-selected-background: #cccccc;
@upload-status-color: #f0ad4e;
@form-widgets-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
@menu-active-background: #e7e7e7;
@concave-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);

@primary-button-text-color: #fff;
@primary-button-background-color: #3f51b5;
@primary-button-border-color: #3f51b5;
@primary-gradient: none;
@primary-shadow:none;

@primary-hover-text-color: @primary-button-text-color;
@primary-hover-background-color: #5c6bc0;
@primary-hover-border-color: #5c6bc0;
@primary-hover-gradient: none;
@primary-hover-shadow: none;

@primary-focused-color: @primary-button-text-color; 
@primary-focused-border-color: #eff8ff;
@primary-focused-gradient: none;
@primary-focused-active-item-shadow: 0 0 8px 0 #cfe6f8;

@primary-active-text-color: @primary-button-text-color;
@primary-active-background-color: #283593;
@primary-active-gradient: none;
@primary-active-border-color: #283593;
@primary-active-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.3);

@primary-disabled-text-color: #a8a8a8;
@primary-disabled-background-color: #eaeaea;
@primary-disabled-border-color: #eaeaea;
@primary-disabled-gradient: none;

@button-hover-text-color: @hover-text-color;
@button-hover-background-color: #606060;
@button-hover-border-color: #606060;

@button-active-background: #707070;
@button-active-border-color: #707070;
@button-focused-border-color: #606060;
@button-focused-shadow: none;
@button-focused-active-shadow: none;


//new var-s
@secondary-background-color: #5a5a5a;
@secondary-hover-background-color: #5c6bc0;
@secondary-header-color: rgba(256, 256, 256, 0.5);
@secondary-header-background-color: #283593;
@accent-color: #00b0ff;

//Checkboxes
@checkbox-border-color-before: transparent;
@checkbox-border-color-after: #d5d5d5;
@checkbox-border-radius-before: 1px;
@checkbox-background-color: #363636;

@checkbox-hover-border-color: #d5d5d5;
@checkbox-hover-box-shadow:none;

@checkbox-checked-border-color-after: #eeff41;
@checkbox-checked-border-radius-after: 1px;
@checkbox-checked-background-color-after: #eeff41;
@checkbox-checked-color-after: #1c1c1c;

@checkbox-active-border-color-before: transparent;
@checkbox-active-border-color-after: #d5d5d5;
@checkbox-active-border-radius: 50%;
@checkbox-active-border-radius-after: 1px;
@checkbox-active-box-shadow: none;

@checkbox-checked-active-border-radius-before: 50%;
@checkbox-checked-active-box-shadow: 0 0 0 12px RGBA(238, 255, 65, 0.3);

@checkbox-checked-disabled-color-after: #1c1c1c;
@checkbox-disabled-background-color-after: #686868;
@checkbox-disabled-color: #1c1c1c;
@checkbox-disabled-box-shadow: none;
@checkbox-disabled-border-color-before: #686868;

//Radio buttons
@radio-border-color-before: #d5d5d5;
@radio-background-color: #363636;
@radio-border-width-before: 2px;

@radio-hover-border-color: #d5d5d5;
@radio-hover-box-shadow:none;

@radio-checked-border-color-before: #eeff41;
@radio-checked-background-color-after: #eeff41;

@radio-active-border-color-before: #eeff41;
@radio-active-box-shadow: none;

@radio-checked-active-border-color-before: #eeff41;
@radio-checked-active-box-shadow: 0 0 0 0.750em RGBA(238, 255, 65, 0.3);

@radio-disabled-background-color-after: #686868;
@radio-disabled-color: #686868;
@radio-disabled-box-shadow: none;
@radio-disabled-background-color-before: #686868;

@import "theme-template.less";

.k-button:hover .k-icon,
.k-tool-icon:hover,
.k-state-hover .k-tool-icon,
.k-state-selected .k-tool-icon,
.k-state-focused .k-tool-icon,
.k-button:hover .k-tool-icon,
.k-splitbar.k-splitbar-horizontal-hover .k-icon,
.k-splitbar.k-splitbar-vertical-hover .k-icon,
div.k-splitbar.k-state-focused .k-icon,
.k-textbox:hover > .k-icon,
.k-grouping-header .k-group-delete,
.k-grouping-header .k-button-icon:hover > .k-icon.k-group-delete,
.k-grouping-header .k-si-arrow-n,
.k-grouping-header .k-link:hover > .k-icon.k-si-arrow-n,
.k-grouping-header .k-si-arrow-s,
.k-grouping-header .k-link:hover > .k-icon.k-si-arrow-s,
.k-grid-toolbar .k-i-pdf,
.k-grid-toolbar .k-button:hover > .k-i-pdf,
.k-grid-toolbar .k-i-excel,
.k-grid-toolbar .k-button:hover > .k-i-excel,
.k-grid-toolbar .k-icon,
.k-scheduler-toolbar .k-icon,
.k-scheduler-footer .k-icon,
.k-scheduler-content .k-icon,
.k-gantt-toolbar .k-icon,
.k-field-actions .k-icon,
.k-notification .k-icon
{
    opacity:1;
}

.k-tool-icon,
.k-splitbar .k-icon
{
    opacity: @default-icon-opacity;
}

.k-pager-wrap .k-link.k-state-disabled .k-icon {
    opacity: 0.25;
}

.k-button,
.k-button:hover,
.k-button.k-state-hover {
    .box-shadow(@focused-shadow);
}

.k-button,
.k-header {
	font-weight: 500;
}

.k-button {
	.box-shadow(none);
}

.k-button:active,
.k-button.k-state-active,
.k-button:focus,
.k-button.k-state-focused
{
color: @button-text-color;
background-color: @button-active-background;
border-color: @button-active-background;
}

.k-button:active:hover,
.k-button.k-state-active:hover
{

color: @hover-text-color;
border-color: @button-active-border-color;
background-color: @button-active-background;
.box-shadow(@button-focused-active-shadow);
}

.k-button:hover,
.k-button.k-state-hover,
.k-button:active:hover,
.k-button.k-state-active:hover
{
    color: @button-hover-text-color;
    border-color: @button-hover-border-color;
    background-color: @button-hover-background-color;
}

.k-button[disabled],
.k-button.k-state-disabled,
.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active
{
    color: @disabled-text-color;
    border-color: @disabled-border-color;
    background-color: @disabled-background-color;
	.composite-background(@disabled-gradient);
	.box-shadow(none);
}

.k-primary:active,
.k-primary.k-state-active,
.k-primary:focus,
.k-primary.k-state-focused {
	color: @primary-active-text-color;
	border-color: @primary-active-border-color;
	.composite-background(@primary-active-gradient);
	background-color: @primary-active-background-color;
	.box-shadow(@primary-active-shadow);
}

.k-primary:hover,
.k-primary.k-state-hover,
.k-primary:active:hover,
.k-primary.k-state-active:hover
{
   	color: @primary-hover-text-color;
	border-color: @primary-hover-border-color;
	background-color: @primary-hover-background-color;
}

.k-primary:focus:not(.k-state-disabled):not([disabled]),
.k-primary:focus:active:not(.k-state-disabled):not([disabled])
{
    .box-shadow(@primary-active-shadow);
}

.k-primary.k-state-disabled,
.k-state-disabled .k-primary,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:active,
.k-primary.k-state-disabled:active
{
    color: @primary-disabled-text-color;
    border-color: @primary-disabled-border-color;
    background-color: @primary-disabled-background-color;
    .composite-background(@primary-disabled-gradient);
    .box-shadow(none);
}

.k-widget .k-button:active, 
.k-widget .k-button.k-state-active {
	color: @button-text-color;
	background-color: @button-active-background;
	border-color: @hover-border-color;
}

.k-toolbar .k-overflow-anchor.k-state-active,
.k-toolbar .k-overflow-anchor.k-state-border-down {
	background-color: @active-background-color;
}

.k-widget .k-button:active:hover, 
.k-widget .k-button.k-state-active:hover {
	color: @button-hover-text-color;
    border-color: @button-hover-border-color;
    background-color: @button-hover-background-color;
}

.k-dropdown .k-state-default
{
    border-color: @drop-down-border-color;
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @drop-down-background;
}

.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
	background-color: @widget-background-color;
	border-color: @widget-border-color;
}

.k-dropdown,
span.k-colorpicker {
	background-color: @button-background-color;
}

.k-textbox {
    background-color: @drop-down-background;
    border-color: @drop-down-border-color;
}

.k-combobox,
.k-datepicker,
.k-timepicker,
.k-datetimepicker {
background-color: @drop-down-background;
}
 
.k-dropdown-wrap.k-state-default > .k-select,
.k-picker-wrap.k-state-default > .k-select {
background-color: @drop-down-background;
border-color: @drop-down-background;
}

.k-datepicker .k-input,
.k-timepicker .k-input {
	//background-color: @drop-down-background;
}

.k-autocomplete.k-state-active .k-input,
.k-picker-wrap.k-state-active .k-input,
.k-numeric-wrap.k-state-active .k-input
{
    background-color: @selected-background-color;
}

.k-dropdown-wrap.k-state-hover > .k-select,
.k-picker-wrap.k-state-hover > .k-select,
.k-picker-wrap.k-state-focused > .k-select {
	background-color: @hover-background-color;
	border-color: @hover-background-color @hover-background-color @hover-background-color @widget-border-color;
}

.k-combobox .k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-select,
.k-autocomplete.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-select {
	background-color: @select-hover-background-color;
}

.k-textbox:hover,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover
{
background-color: @hover-background-color;
background-color: @hover-background-color;
border-color: @drop-down-hover-border-color;
.box-shadow(none);
}

.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused
{
background-color: @select-hover-background-color;
.composite-background(@hover-gradient);
background-position: 50% 50%;
border-color: @select-hover-background-color;
.box-shadow(none);
}

.k-combobox.k-state-focused.k-state-activen .k-select,
.k-combobox.k-state-focused.k-state-active .k-input,
.k-timepicker .k-state-focused.k-state-active .k-select,
.k-timepicker .k-state-focused.k-state-active .k-input,
.k-datepicker .k-state-focused.k-state-active .k-select,
.k-datepicker .k-state-focused.k-state-active .k-input,
.k-datetimepicker .k-state-focused.k-state-active .k-select,
.k-datetimepicker .k-state-focused.k-state-active .k-input {
	background-color: @widget-background-color;
}

.k-autocomplete.k-state-border-down .k-input {
	background-color: @hover-background-color;
}

.k-numeric-wrap.k-state-focused > .k-select,
.k-numeric-wrap.k-state-focused > .k-input {
	background-color: @drop-down-background;
}

.k-numeric-wrap.k-state-focused > .k-select {
	border-left-color: @drop-down-background;
}

.k-numeric-wrap .k-link.k-state-selected {
	background-color: @widget-background-color;
}

.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-multiselect.k-header.k-state-active
{
background-color: @select-background-color;
.composite-background(@hover-gradient);
background-position: 50% 50%;
border-color: @drop-down-focused-border-color;
.box-shadow(none);
}

.k-autocomplete.k-state-disabled,
.k-picker-wrap.k-state-disabled,
.k-numeric-wrap.k-state-disabled,
.k-numeric-wrap.k-state-disabled .k-input,
.k-numeric-wrap.k-state-disabled .k-select,
.k-dropdown-wrap.k-state-disabled,
.k-multiselect.k-header.k-state-disabled
{
background-color: @drop-down-background;
}

.k-numeric-wrap.k-state-disabled .k-select {
	border-color: @drop-down-background;
}

.k-numerictextbox .k-select {
background-color: @widget-background-color;
border-color: @widget-background-color;
}

.k-list > .k-state-selected {
color: @accent-color;
background-color: @selected-background-color;
border-color: @selected-background-color;
.box-shadow(none);
}

.k-list>.k-state-selected.k-state-hover {
	color: @accent-color;
}

.k-list > .k-state-focused {
	border-color: transparent;
	.box-shadow(none);
}

.k-list>.k-state-hover,
.k-list>.k-state-selected.k-state-hover
{
background-color: @hover-background-color;
border-color: @hover-background-color;
}

.k-list-container
{
border-color: @form-widgets-border-color;
}

.k-calendar td.k-state-hover,
.k-calendar td.k-state-focused {
    background-color: @button-hover-background-color;
    .box-shadow(none);
}

.k-calendar td.k-state-selected {
background-color: @accent-color;
.box-shadow(none);
}

.k-calendar .k-state-selected > .k-link {    
    color: @inverse-text-color;
}

/* Calendar */
.k-calendar .k-header .k-link {
color: @primary-button-text-color;
}

.k-calendar .k-footer {
border-color: @widget-border-color;
}

.k-calendar td {
border-radius: @calendar-border-radius;    
}

.k-calendar .k-content th {
background-color: @widget-background-color;
}

.k-calendar .k-header .k-state-hover {
background-color: @secondary-header-background-color;
}

.k-calendar .k-footer .k-nav-today {
	color: @accent-color;
}

.k-calendar .k-nav-fast.k-state-hover {
border-radius: 0;  
}

.k-calendar .k-link.k-state-hover,
.k-window-titlebar .k-link
{
.box-shadow(none);
}

.k-window-titlebar .k-state-hover {
	background-color: @secondary-hover-background-color;
	border-color: @secondary-hover-background-color;
}

/* TabStrip */
.k-tabstrip-items > .k-item {
	background-color: @primary-button-background-color;
	border-bottom-color: @primary-button-background-color;
	border-radius: 0;
}

.k-tabstrip-items .k-state-active {
background-color: @primary-button-background-color;
.composite-background(@active-gradient);
border-color: @primary-button-background-color;
border-bottom-color: @accent-color;
}

.k-tabstrip .k-content.k-state-active {
	border-color: transparent;
}

.k-tabstrip-items .k-item.k-state-hover
{
background: @secondary-hover-background-color;
border-color: @secondary-hover-background-color;
}

.k-tabstrip-items .k-state-hover .k-link {
color: @header-text-color;
}

/* Menu */
.k-menu {
	background-color: @inverse-text-color;
}

.k-group,
.k-flatcolorpicker.k-group,
.k-menu .k-group,
.k-popup.k-widget.k-context-menu {
color: @widget-text-color;
background-color: @widget-background-color;
}

.k-menu .k-group,
.k-popup.k-context-menu.k-group {
border-color: @widget-border-color;
}

.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
.box-shadow(none);
}

.k-menu .k-state-active,
.k-menu .k-item.k-state-hover,
.k-menu .k-state-hover > .k-state-active,
.k-popup.k-context-menu.k-group .k-state-hover {
    background-color: @select-hover-background-color;
    border-color: @select-hover-background-color;
}

/* Toolbar */
.k-toolbar {
background-color: @drop-down-background;
border-color: @panelbar-items-border;
}

.k-toolbar .k-button {
	.box-shadow(none);
}

.k-grid .k-header .k-button,
.k-scheduler .k-header .k-button,
.k-scheduler .k-header li,
.k-scheduler .k-header .k-link,
.k-gantt > .k-header li,
.k-gantt > .k-header .k-link,
.k-gantt-toolbar .k-button {
color: @header-text-color;
background-color: @header-background-color;
border-color: @header-background-color;
.box-shadow(none);
}

.k-grid .k-header .k-button:hover,
.k-scheduler .k-header .k-button:hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover .k-link,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover .k-link,
.k-gantt .k-gantt-toolbar .k-button:hover
{
background-color: @secondary-hover-background-color;
border-color: @secondary-hover-background-color;
}

.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-gantt-toolbar .k-button{
background-color: @header-background-color;
border-color: @header-background-color;
}

.k-gantt .k-gantt-toolbar .k-button:active {
	background: @select-background-color;
	.box-shadow(none);
}

.k-gantt-toolbar > .k-gantt-views > li.k-state-selected,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-selected.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-selected.k-state-hover,
.k-scheduler-toolbar > .k-scheduler-views > li.k-state-selected {
	border-bottom-color: @accent-color;
}

.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
	border-color: @widget-border-color;
}

.k-scheduler-mark {
	border-radius: 50%;
}

/* Grid */
.k-grid .k-alt {
	background-color: @widget-background-color;
}

.k-grouping-row td,
td.k-group-cell, 
.k-resize-handle-inner {
color: @widget-text-color;
background-color: @alt-background-color;
}

.k-grouping-header .k-group-indicator,
.k-pivot-toolbar .k-button {
color: @header-text-color;
background-color: @secondary-header-background-color;
border-color: @secondary-header-background-color;
.box-shadow(none);
}

.k-grid-header,
.k-grid-header .k-header,
.k-pager-wrap,
.k-pager-numbers .k-state-selected,
.k-grid-footer,
.k-grid-footer td,
.k-scheduler-header {
color: @widget-text-color;
background-color: @secondary-background-color;
}

.k-header.k-scheduler-footer .k-header,
.k-header.k-scheduler-footer ul.k-header li .k-link{
	color: @accent-color;
	background-color: @secondary-background-color;
}

.k-header.k-scheduler-footer ul.k-header li {
	background-color: @secondary-background-color;
	border-color: @secondary-background-color;
}

.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-gantt-toolbar .k-state-default,
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {	
	border-color: @widget-border-color;
}

.k-group-footer td,
.k-footer-template td,
.k-fieldselector .k-item.k-header {
    color: @widget-text-color;
    background-color: @alt-background-color;
}

.k-grid .k-grouping-header {
	color: @secondary-header-color;
}

.k-pager-wrap {
color: @widget-text-color;
}

.k-grouping-header .k-link,
.k-grouping-header .k-link:link {
color: @header-text-color;
}

.k-scheduler-layout .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-grid tr.k-state-selected,
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td  {
background-color: @inverse-text-color; 
}

.k-marquee-color {
	background-color: @accent-color;
}

.k-grid tr.k-state-selected {
color: @accent-color;
}

.k-grid-header .k-header .k-link,
.k-grid-header .k-link,
.k-grid-header .k-link:link,
.k-pager-info,
.k-scheduler-header,
.k-scheduler-agendaview .k-scheduler-datecolumn {
color: @primary-disabled-text-color;
}

.k-grid-pager .k-link,
.k-grid-pager .k-link:link {
	color: @widget-text-color;
}

.k-pager-numbers .k-link,
.k-pager-wrap > .k-link {
border-radius: 0;
}

.k-pager-numbers .k-state-selected {
border-color: @accent-color @alt-background-color @alt-background-color;
border-radius: 0;
.box-shadow(none);
color: @accent-color;
}

.k-pager-wrap .k-link {
border-color: @secondary-background-color;
cursor: pointer;
}

.k-pager-wrap .k-link:hover {
	background-color: @alt-background-color;
	border-color: @alt-background-color;
}

.k-scheduler-toolbar > ul li:first-child, 
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar .k-nav-next, 
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link,
.k-gantt-toolbar li:first-child,
.k-gantt-toolbar li:first-child > .k-link,
.k-gantt-toolbar li:last-child, 
.k-gantt-toolbar li:last-child > .k-link {
border-radius: 0;
}

.k-grid,
.k-panelbar,
.k-notification,
.k-popup .k-textbox:focus,
.k-popup  .k-autocomplete.k-state-focused,
.k-popup  .k-picker-wrap.k-state-focused,
.k-popup  .k-numeric-wrap.k-state-focused,
.k-popup  .k-dropdown-wrap.k-state-focused,
.k-popup .k-multiselect.k-header.k-state-focused,
.k-popup .k-textbox:hover,
.k-popup .k-autocomplete.k-state-hover,
.k-popup .k-picker-wrap.k-state-hover,
.k-popup .k-numeric-wrap.k-state-hover,
.k-popup .k-dropdown-wrap.k-state-hover
{
.box-shadow(none);
}

/* PanelBar */
.k-panelbar,
.k-panelbar .k-header,
.k-panel > li.k-item,
.k-panelbar .k-state-selected {
background-color: @widget-background-color;
}

.k-panelbar .k-content {
	background-color: @inverse-text-color;
}

.k-panelbar > li.k-state-default > .k-link {
color: @widget-text-color;
}

.k-panelbar .k-state-hover {
background-color: @button-hover-background-color;
}

.k-panelbar > .k-item > .k-link,
.k-panelbar.k-header,
.k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar .k-item {
border-color: @panelbar-items-border;
}

/* Splitter */
.k-splitbar {
	background-color: @widget-background-color;
	border-color: @widget-background-color;
}

.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover {
	background-color: @alt-background-color;
	border-color: @alt-background-color;
}

.k-splitbar.k-state-focused {
background-color: @accent-color;
border-color: @accent-color;
.box-shadow(none);
}

/* Upload */
.k-upload {
color: @widget-text-color;
background-color: @widget-background-color;
}

.k-file {
	background-color: @button-background-color;
}

.k-file-error {
	color: @inverse-text-color;
}

/* Gantt */
.k-task-milestone,
.k-task-summary-complete {
background-color: @header-background-color;
}

.k-task-single
{
color: @inverse-text-color;
background-color: lighten(@accent-color, 20%);
}

.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
	background-color: @inverse-text-color;
	border-color: @inverse-text-color;
}

.k-task-complete
{
background: @accent-color 0 -257px @tooltip-texture repeat-x;
}

.k-treelist .k-state-selected,
.k-treelist .k-state-selected td,
.k-treelist .k-alt.k-state-selected,
.k-treelist .k-alt.k-state-selected > td
{
background-color: @accent-color;
border-color: @accent-color;
}

.k-multiselect .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-toolbar .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-group-indicator .k-button,
.k-group-indicator .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-group-indicator .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-gantt-toolbar .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-gantt-toolbar .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-toolbar .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-toolbar .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-toolbar .k-button:active:hover, 
.k-toolbar .k-button.k-state-active:hover
{
    .box-shadow(none);
}

.k-multiselect .k-button:active:hover {
	color: @widget-text-color;
	background-color: @button-active-background;
	border-color: @button-active-background;
}

/* Editor */
table.k-editor {
	border-color: @widget-border-color;
}

.k-editor.k-header,
.editorToolbarWindow.k-header,
.k-filebrowser .k-header {
	background-color: @alt-background-color;
	.box-shadow(none);
}

.k-filebrowser .k-header {
    color: @widget-text-color;
}

.k-editor-toolbar .k-tool,
.k-group-start.k-group-end.k-tool {
	border-color: @alt-background-color;
	border-radius: 50%;
}

.k-treeview .k-state-hover {
	.box-shadow(none);	
}

.k-treeview .k-state-selected,
.k-treeview .k-state-focused,
.k-editor-toolbar .k-dropdown,
.k-panelbar .k-state-focused {
	.box-shadow(none);
}

.k-treeview .k-state-focused,
.k-panelbar .k-state-focused {
	background-color: @alt-background-color;
}

.k-editor-toolbar .k-dropdown-wrap.k-state-default,
.k-toolbar .k-dropdown-wrap.k-state-default
{
    border-color: @alt-background-color;    
}

.k-toolbar .k-overflow-anchor.k-state-border-down {
	border-color: @widget-border-color;
}

.k-editor-toolbar .k-dropdown-wrap.k-state-default,
.k-editor-toolbar .k-dropdown-wrap.k-state-default > .k-select {
	background-color: @secondary-background-color;
}

.k-editor-toolbar .k-tool.k-state-hover,
.k-editor-toolbar .k-dropdown-wrap.k-state-hover,
.k-toolbar .k-tool.k-state-hover,
.k-toolbar .k-dropdown-wrap.k-state-hover
{
    color: @hover-text-color;
    .box-shadow(none);
}

.k-editor-toolbar .k-tool.k-state-hover,
.k-toolbar .k-tool.k-state-hover {    
    background-color: @hover-background-color;
}

.k-editor-toolbar .k-state-selected,
.k-toolbar .k-state-selected{
	.box-shadow(none);	
	background-color: transparent;
}

/* Progressbar */
.k-progressbar {
	background-color: @button-background-color;
	border-color: @button-border-color
}

.k-progressbar .k-item,
.k-progressbar .k-item.k-state-selected {
	border-color: @widget-background-color;
}

.k-progressbar .k-state-selected {
	background-color: @primary-button-background-color;
	border-color: @primary-button-border-color;
}

.k-widget.k-tooltip-validation {
	background-color: @validation-background-color;
	.box-shadow(none);
}

/* Pivot Grid */
.k-grid.k-alt {
	background-color: @secondary-background-color;
}

.k-gantt .k-treelist .k-alt,
.k-gantt .k-header.k-nonwork-hour {
   background-color: @alt-background-color
}

.k-list > .k-state-hover {
	color: @widget-text-color;
	background-color: @hover-background-color;
	border-color: @hover-background-color;
	.box-shadow(none);
	cursor: pointer;
}

.k-list>.k-state-focused {
	background-color: @drop-down-background;
	border-color: @drop-down-focused-border-color;
}

.k-fieldselector .k-list-container {
	background-color: @widget-background-color;
}

/* Slider */
.k-slider-track
{
    background-color: @button-background-color;
    .box-shadow(none);
}

.k-slider-selection
{
    background-color: @primary-button-background-color;
	border-color: @primary-button-border-color;
}

.k-slider .k-button,
.k-slider .k-button.k-state-hover,
.k-slider .k-button:active:hover,
.k-slider .k-button:focus,
.k-slider .k-button:active {
	background: none;
	border: none;
	.box-shadow(none);
}

.k-draghandle,
.k-flatcolorpicker .k-slider-horizontal .k-slider-track {
	.box-shadow(none);
}

.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle
{
    border-color: @draghandle-border-color;
    background-color: @draghandle-background-color;
    .box-shadow(@draghandle-shadow);
}

.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover
{
    border-color: @draghandle-hover-border-color;
    background-color: @draghandle-hover-background-color;
    .box-shadow(@draghandle-hover-shadow);
}

.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link,
.k-draghandle.k-state-selected:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-selected
{
   background-color: @draghandle-selected-background;
   border-color: @draghandle-selected-background;
}

.k-draghandle.k-state-focused,
.k-draghandle.k-state-focused:link,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-focused,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-focused
{
    .box-shadow(none);
	border-color: @draghandle-background-color;
	background-color: @draghandle-background-color;
}

.k-radio:checked + .k-radio-label:hover:before {
    border-color: @radio-checked-border-color-before; 
}

.k-edit-form-container .k-edit-buttons {
	background-color: @secondary-background-color;
}

.k-popup .k-button,
.k-edit-form-container .k-button,
.k-popup .k-primary:active,
.k-edit-form-container .k-primary:active {
	color: @widget-text-color;
	background-color: @secondary-background-color;
	border-color: @secondary-background-color;
    .box-shadow(none);
}

.k-popup .k-primary,
.k-edit-form-container .k-primary {
	color: @accent-color;
}

.k-popup .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-edit-form-container .k-button:focus:active:not(.k-state-disabled):not([disabled]) {
	.box-shadow(none);
}

.k-edit-form-container .k-scheduler-delete {
	color: @accent-color;
}

div.k-scheduler-marquee:before,
div.k-scheduler-marquee:after {
	border-color: @accent-color;
}

.k-notification.k-group {
    color: @secondary-text-color;
}