/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
@image-folder: "Moonlight";
@texture: url("textures/brushed-metal.png");
@tooltip-texture: url('textures/highlight.png');
@fallback-texture: @texture;

/* Widget Base Styles */
@widget-text-color: #fff;
@inverse-text-color: #000;
@widget-gradient: "#2f3640 0%, #212a33 100%";
@widget-background-color: #212a33;
@widget-border-color: #171e28;
@widget-shadow: inset 0 1px 0 rgba(255,255,255,.1);

/* Selects, Dropdowns */
@select-background-color: #212a33;
@select-border-color: #171e28;
@select-hover-background-color: @hover-background-color;
@select-group-background-color: @select-background-color;

/* Inputs */
@input-background-color: #f6f6f6;
@input-text-color: #232a32;

/* Links */
@link-text-color: #f4af03;

/* Headers */
@header-text-color: @widget-text-color;
@header-background-color: #212a33;

/* Buttons */
@button-text-color: @widget-text-color;
@button-background-color: @header-background-color;

/* Group Base Styles */
@group-background-color: #2f3640;
@group-border-color: @widget-border-color;

/* Content */
@content-background-color: @widget-background-color;


/* Widget States */

/* Hover State */
@hover-text-color: #fff;
@hover-gradient: "#5b5f6b 0%, #40444f 100%";
@hover-background-color: #40444f;
@hover-border-color: #212a33;
@hover-shadow: inset 0 1px 0 rgba(255,255,255,.1);

/* Selected State */
@selected-text-color: #171e28;
@selected-gradient: "#ee9f05 0%, #f4af03 100%";
@selected-background-color: #f4af03;
@selected-border-color: #ee9f05;
@selected-shadow: none;

/*Focused State*/
@focused-border-color: #ee9f05;
@focused-shadow: 0 0 3px 0 @shadow-color;
@focused-item-shadow: inset 0 0 3px 1px @selected-border-color;
@focused-active-item-shadow: inset 0 0 3px 1px darken(@selected-border-color, 15%);

/* Active State */
@active-text-color: @widget-text-color;
@active-gradient:  none;
@active-background-color: #171e28;
@active-border-color: #2f3640;
@active-shadow: none;

/* Error State */
@error-text-color: #fff;
@error-background-color: #ff5252;
@error-border-color: #e20000;

/* Disabled State */
@disabled-text-color: #535a63;

/* Notification */
@notification-info-background-color: #e5f5fa;
@notification-info-text-color: #0487c4;
@notification-info-border-color: #b7e1f0;
@notification-success-background-color: #eaf7ec;
@notification-success-text-color: #349946;
@notification-success-border-color: #c3e8ca;
@notification-warning-background-color: #fff4d9;
@notification-warning-text-color: #0487c4;
@notification-warning-border-color: #fff0c8;
@notification-error-background-color: #ffe0d9;
@notification-error-text-color: #ef470a;
@notification-error-border-color: #ffb7a8;

/* ToolTip */
@tooltip-text-color: #212a33;
@tooltip-background-color: #f4af03;
@tooltip-border-color: #f4af03;

/* Validation Message */
@validation-text-color: #ffa800;
@validation-background-color: @widget-background-color;
@validation-border-color: #ffa800;

/* Splitter */
@splitbar-background-color: @header-background-color;

/* Slider */
@draghandle-border-radius: 8px;
@draghandle-border-color: @selected-background-color;
@draghandle-background-color: @selected-background-color;
@draghandle-shadow: none;
@draghandle-hover-border-color: @selected-background-color;
@draghandle-hover-background-color: @selected-background-color;
@draghandle-hover-shadow: none;

/* Grid */
@alt-background-color: #2f3640;
@nested-alt-background-color: lighten(@alt-background-color, 8%);
@cell-border-color: #434a53;
@column-highlight-background-color: #313842;
@active-filter-background-color: @active-background-color;

/* Scheduler */
@scheduler-background-color: @widget-background-color;
@current-time-color: @error-border-color;
@event-background-color: #595d69;
@event-text-color: @widget-text-color;
@event-inverse-text-color: @scheduler-background-color;
@scheduler-nonwork-background-color: #363d47;
@resize-background-color: #f4af03;

/* Upload */
@upload-progress-background-color: #366ba0;
@upload-progress-text-color: @widget-text-color;
@upload-success-background-color: #3f8b66;
@upload-success-text-color: @widget-text-color;
@upload-error-background-color: #aa2929;
@upload-error-text-color: @widget-text-color;

/* Gantt*/

@task-summary-color: darken(@widget-text-color, 25%);
@task-summary-selected-color: darken(@selected-background-color, 25%);

/* Loading Indicators */
@loading-panel-color: #212a33;

/* Shadows */
@shadow-color: rgba(0, 0, 0, .3);
@shadow-inset-color: #ddd;

/* Border Radii */
@main-border-radius: 2px;
@list-border-radius: @main-border-radius - 1;
@inner-border-radius: @main-border-radius - 1;
@slider-border-radius: 13px;

/* Icons */
@default-icon-opacity: 1;

@calendar-border-radius: 2px;
@calendar-content-text-color: @link-text-color;
@calendar-footer-background: @widget-background-color;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @widget-background-color;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background-color;
@calendar-footer-active-background: @widget-background-color; 
@calendar-group-background-color: @group-background-color; 
@button-border-color: @widget-border-color;
@menu-border-color: @widget-border-color;
@tabstrip-items-border: @widget-border-color;
@tabstrip-active-background: @active-background-color;
@tabstrip-tabs-color: @widget-text-color;
@form-widget-color: #f4af03;
@drop-down-border-color: @widget-border-color;
@drop-down-hover-border-color: @hover-border-color;
@drop-down-focused-border-color: #212a33;
@drop-down-background: #212a33;
@drop-down-text-color: @widget-text-color;
@secondary-border-color: @widget-border-color;
@secondary-text-color: #ffffff;
@numeric-selected-background: @selected-background-color; 
@panelbar-items-border: @widget-border-color;
@panelbar-content-background: @content-background-color;
@panelbar-content-color: @widget-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @content-background-color;
@icon-background-color: transparent;
@disabled-background-color: @button-background-color;
@disabled-border-color: @widget-border-color;
@disabled-gradient: @widget-gradient;

@primary-button-text-color: #181f28;
@primary-button-background-color: #afafaf;
@primary-button-border-color: #2c353f;
@primary-gradient: "#fbc642 0%, #eea104 100%";
@primary-shadow:none;

@primary-hover-text-color: @primary-button-text-color;
@primary-hover-background-color: #fff;
@primary-hover-border-color: @primary-button-border-color;
@primary-hover-gradient: "#fbc642 0%, #eea104 100%";
@primary-hover-shadow:none;

@primary-focused-color: @primary-button-text-color; 
@primary-focused-border-color: @primary-button-border-color;
@primary-focused-gradient: "#fbc642 0%, #eea104 100%";
@primary-focused-active-item-shadow: 0 0 3px 0 #7c6836;

@primary-active-text-color: @primary-button-text-color;
@primary-active-background-color: #f0a604;
@primary-active-gradient: none;
@primary-active-border-color: #eea004;
@primary-active-shadow:none;

@primary-disabled-text-color: #a87402;
@primary-disabled-background-color: #afafaf;
@primary-disabled-border-color: #2c353f;
@primary-disabled-gradient: @primary-gradient;

@button-hover-text-color: @hover-text-color;
@button-hover-background-color: @hover-background-color;
@button-hover-border-color: @hover-border-color;

@button-active-background: @selected-background-color;
@button-active-border-color: @selected-border-color;
@button-focused-border-color: @button-border-color;
@button-focused-shadow: @focused-item-shadow;
@button-focused-active-shadow: @focused-active-item-shadow;

//Checkboxes
@checkbox-border-color-before: transparent;
@checkbox-border-color-after: #171e28;
@checkbox-border-radius-before: 1px;
@checkbox-background-color: #fff;

@checkbox-hover-border-color: #2c353f;
@checkbox-hover-box-shadow: none;

@checkbox-checked-border-color-after: #f3ae03;
@checkbox-checked-border-radius-after: 1px;
@checkbox-checked-background-color-after: #fff;
@checkbox-checked-color-after: #efa403;

@checkbox-active-border-color-before: transparent;
@checkbox-active-border-color-after: #f3ae03;
@checkbox-active-border-radius: 1px;
@checkbox-active-border-radius-after: 1px;
@checkbox-active-box-shadow: 0 0 3px 0 #f3ae03;

@checkbox-checked-active-border-radius-before: 1px;
@checkbox-checked-active-box-shadow: @checkbox-active-box-shadow;

@checkbox-checked-disabled-color-after: #414550;
@checkbox-disabled-background-color-after: #7a7d85;
@checkbox-disabled-color: #414550;
@checkbox-disabled-box-shadow: none;
@checkbox-disabled-border-color-before: #8d8f96;

//Radio buttons
@radio-border-color-before: #171e28;
@radio-background-color: #fff;
@radio-border-width-before: 1px;

@radio-hover-border-color: #2c353f;
@radio-hover-box-shadow:none;

@radio-checked-border-color-before: #171e28;
@radio-checked-background-color-after: #efa403;

@radio-active-border-color-before: #f3ae03;
@radio-active-box-shadow: 0 0 3px 0 #f3ae03;

@radio-checked-active-border-color-before: #f3ae03;
@radio-checked-active-box-shadow: @radio-active-box-shadow;

@radio-disabled-background-color-after: #7a7d85;
@radio-disabled-color: #414550;
@radio-disabled-box-shadow: none;
@radio-disabled-background-color-before: #7a7d85;

@import "theme-template.less";

.k-checkbox:checked + .k-checkbox-label:hover:after {
    border-color: @checkbox-checked-border-color-after; 
}