/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
@image-folder: "Default";
@texture: none;
@tooltip-texture: url('textures/highlight.png');
@fallback-texture: url('textures/highlight.png');

/* Widget Base Styles */
@widget-text-color: #2e2e2e;
@inverse-text-color: #fff;
@widget-gradient: "rgba(255,255,255,.6) 0%, rgba(255,255,255,.0) 100%";
@widget-background-color: #fff;
@widget-border-color: #c5c5c5;
@widget-shadow: none;

/* Selects, Dropdowns */
@select-background-color: #e9e9e9;
@select-border-color: @hover-border-color;
@select-hover-background-color: @hover-background-color;
@select-group-background-color: @select-background-color;

/* Inputs */
@input-background-color: @widget-background-color;
@input-text-color: @widget-text-color;

/* Links */
@link-text-color: @widget-text-color;

/* Headers */
@header-text-color: @widget-text-color;
@header-background-color: #e3e3e3;

/* Buttons */
@button-text-color: @widget-text-color;
@button-background-color: @header-background-color;

/* Group Base Styles */
@group-background-color: #ebebeb;
@group-border-color: @widget-border-color;

/* Content */
@content-background-color: @widget-background-color;


/* Widget States */

/* Hover State */
@hover-text-color: @widget-text-color;
@hover-gradient: "rgba(255,255,255,.4) 0%, rgba(255,255,255,.0) 100%";
@hover-background-color: #bcb4b0;
@hover-border-color: @hover-background-color;
@hover-shadow: none;

/* Selected State */
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.0) 100%";
@selected-background-color: #f35800;
@selected-border-color: @selected-background-color;
@selected-shadow: none;

/*Focused State*/
@focused-border-color: @hover-border-color;
@focused-shadow: 0 0 3px 0 @shadow-color;
@focused-item-shadow: inset 0 0 5px 1px @hover-border-color;
@focused-active-item-shadow: inset 0 0 3px 4px darken(@selected-border-color, 4%);

/* Active State */
@active-text-color: @widget-text-color;
@active-gradient:  none;
@active-background-color: @widget-background-color;
@active-border-color: @selected-background-color;
@active-shadow: none;

/* Error State */
@error-text-color: #fff;
@error-background-color: #ff5252;
@error-border-color: #e20000;

/* Disabled State */
@disabled-text-color: #9f9e9e;

/* Notification */
@notification-info-background-color: #e5f5fa;
@notification-info-text-color: #0487c4;
@notification-info-border-color: #b7e1f0;
@notification-success-background-color: #eaf7ec;
@notification-success-text-color: #349946;
@notification-success-border-color: #c3e8ca;
@notification-warning-background-color: #fff4d9;
@notification-warning-text-color: #0487c4;
@notification-warning-border-color: #fff0c8;
@notification-error-background-color: #ffe0d9;
@notification-error-text-color: #ef470a;
@notification-error-border-color: #ffb7a8;

/* ToolTip */
@tooltip-text-color: #282828;
@tooltip-background-color: #c6c6c6;
@tooltip-border-color: @widget-border-color;

/* Validation Message */
@validation-text-color: #635145;
@validation-background-color: #fff4c9;
@validation-border-color: #ffe79e;

/* Splitter */
@splitbar-background-color: @header-background-color;

/* Slider */
@draghandle-border-radius: 7px;
@draghandle-border-color: @widget-border-color;
@draghandle-background-color: @widget-background-color;
@draghandle-shadow: none;
@draghandle-hover-border-color: @hover-border-color;
@draghandle-hover-background-color: @hover-background-color;
@draghandle-hover-shadow: none;

/* Grid */
@alt-background-color: #f5f5f5;
@nested-alt-background-color: darken(@alt-background-color, 8%);
@cell-border-color: @widget-border-color;
@column-highlight-background-color: #f8f8f8;
@active-filter-background-color: @active-background-color;

/* Scheduler */
@scheduler-background-color: @widget-background-color;
@current-time-color: @error-border-color;
@event-background-color: #ffdac1;
@event-text-color: @widget-text-color;
@event-inverse-text-color: @scheduler-background-color;
@scheduler-nonwork-background-color: #f2f2f2;
@resize-background-color: #bababa;

/* Upload */
@upload-progress-background-color: #d0f8ff;
@upload-progress-text-color: #06c;
@upload-success-background-color: #ddffd0;
@upload-success-text-color: #28760b;
@upload-error-background-color: #ffded7;
@upload-error-text-color: #c00;

/* Gantt*/

@task-summary-color: lighten(@widget-text-color, 25%);
@task-summary-selected-color: lighten(@selected-background-color, 25%);

/* Loading Indicators */
@loading-panel-color: #fff;

/* Shadows */
@shadow-color: rgba(0, 0, 0, .3);
@shadow-inset-color: #ddd;

/* Border Radii */
@main-border-radius: 4px;
@list-border-radius: @main-border-radius - 1;
@inner-border-radius: @main-border-radius - 1;
@slider-border-radius: 13px;

/* Icons */
@default-icon-opacity: 0.8;

@calendar-border-radius: 4px;
@calendar-content-text-color: @widget-text-color;
@calendar-footer-background: @widget-background-color;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @widget-background-color;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background-color;
@calendar-footer-active-background: @widget-background-color; 
@calendar-group-background-color: @group-background-color; 
@button-border-color: @widget-border-color;
@menu-border-color: @widget-border-color;
@tabstrip-items-border: @widget-border-color;
@tabstrip-active-background: @widget-background-color;
@tabstrip-tabs-color: @widget-text-color;
@form-widget-color: #2e2e2e;
@drop-down-border-color: @widget-border-color;
@drop-down-hover-border-color: @hover-border-color;
@drop-down-focused-border-color: @focused-border-color;
@drop-down-background: #e9e9e9;
@drop-down-text-color: @widget-text-color;
@secondary-border-color: @widget-border-color;
@secondary-text-color: @widget-text-color;
@numeric-selected-background: @selected-background-color; 
@panelbar-items-border: @widget-border-color;
@panelbar-content-background: @content-background-color;
@panelbar-content-color: @widget-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @content-background-color;
@icon-background-color: transparent;
@disabled-background-color: @button-background-color;
@disabled-border-color: @widget-border-color;
@disabled-gradient: @widget-gradient;

@primary-button-text-color: #fff;
@primary-button-background-color: #f35800;
@primary-button-border-color: #ef671a;
@primary-gradient: "#f6813f 0%, #f35a03 100%";
@primary-shadow:none;

@primary-hover-text-color: @primary-button-text-color;
@primary-hover-background-color: #ed4300;
@primary-hover-border-color: @primary-button-border-color;
@primary-hover-gradient: "#f1713f 0%, #ed4503 100%";
@primary-hover-shadow:none;

@primary-focused-color: @primary-button-text-color; 
@primary-focused-border-color: #e84200;
@primary-focused-gradient: @primary-hover-gradient;
@primary-focused-active-item-shadow: 0 0 3px 1px #e10000;

@primary-active-text-color: @primary-button-text-color;
@primary-active-background-color: #f35800;
@primary-active-gradient: @primary-gradient;
@primary-active-border-color: #ef671a;
@primary-active-shadow:none;

@primary-disabled-text-color: #fab58e;
@primary-disabled-background-color: @primary-button-background-color;
@primary-disabled-border-color: @primary-button-border-color;
@primary-disabled-gradient: @primary-gradient;

@button-hover-text-color: @hover-text-color;
@button-hover-background-color: @hover-background-color;
@button-hover-border-color: @hover-border-color;

@button-active-background: @selected-background-color;
@button-active-border-color: @selected-border-color;
@button-focused-border-color: @button-border-color;
@button-focused-shadow: @focused-item-shadow;
@button-focused-active-shadow: @focused-active-item-shadow;

//Checkboxes
@checkbox-border-color-before: transparent;
@checkbox-border-color-after: #c5c5c5;
@checkbox-border-radius-before: 3px;
@checkbox-background-color: @widget-background-color;

@checkbox-hover-border-color: #a99f9a;
@checkbox-hover-box-shadow: none;

@checkbox-checked-border-color-after: #c5c5c5;
@checkbox-checked-border-radius-after: 3px;
@checkbox-checked-background-color-after: #fff;
@checkbox-checked-color-after: #f36311;

@checkbox-active-border-color-before: transparent;
@checkbox-active-border-color-after: #a99f9a;
@checkbox-active-border-radius: 3px;
@checkbox-active-border-radius-after: 3px;
@checkbox-active-box-shadow: 0 0 3px 0 #a99f9a;

@checkbox-checked-active-border-radius-before: 3px;
@checkbox-checked-active-box-shadow: @checkbox-active-box-shadow;

@checkbox-checked-disabled-color-after: #909090;
@checkbox-disabled-background-color-after: #ededed;
@checkbox-disabled-color: #909090;
@checkbox-disabled-box-shadow: none;
@checkbox-disabled-border-color-before: #7f7f7f;

//Radio buttons
@radio-border-color-before: #c5c5c5;
@radio-background-color: @widget-background-color;
@radio-border-width-before: 1px;

@radio-hover-border-color: #a99f9a;
@radio-hover-box-shadow:none;

@radio-checked-border-color-before: #7f7f7f;
@radio-checked-background-color-after: #f36311;

@radio-active-border-color-before: #a99f9a;
@radio-active-box-shadow: 0 0 3px 0 #a99f9a;

@radio-checked-active-border-color-before: #7f7f7f;
@radio-checked-active-box-shadow: @radio-active-box-shadow;

@radio-disabled-background-color-after: #ededed;
@radio-disabled-color: #909090;
@radio-disabled-box-shadow: none;
@radio-disabled-background-color-before: #efefef;

@import "theme-template.less";
