/*
* Kendo UI v2014.3.1128 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
@input-height: 1.94em;
@input-indent: .8em;
@editor-icon-size: 32px;
@menu-link-padding: 1.2em 1.2em 1.1em;
@button-padding: 5px 14px 4px;
@treeview-inner-padding: 0.4167em 0.6667em 0.3333em 0.5833em;
@treeview-inner-margin: 1px 0 1px 0.3333em;
@scheduler-link-padding: .16666em 1.1em;
@grid-header-padding: .75em .2em .8333em 1em;
@icon-positioning: "default";

@import "common/all.less";

.k-widget.k-tabstrip
{
    background-color: transparent;
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip > .k-content,
.k-panelbar .k-tabstrip > .k-content
{
    margin: 0;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-grouping-dropclue
{
    margin-top: 10px;
}

.k-grid tr td
{
    border-width: 1px 0 0 1px;
    border-style: solid;
}
