/* Grid */

.k-grid,
.k-listview
{
    position: relative;
    zoom: 1;
}

.k-grid table
{
    width: 100%;
    margin: 0; /* override CSS libraries */
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    border-width: 0;
    outline: none;
}

.k-header.k-drag-clue
{
    overflow: hidden;
}

.k-grid-header th.k-header,
.k-filter-row th
{
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 1px 1px;
    padding: .5em .6em .4em .6em;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.k-grid-header th.k-header
{
    vertical-align: bottom;
}

.k-filtercell,
.k-filtercell > span,
.k-filtercell .k-widget
{
    display: block;
    width: auto;
}

.k-filtercell > span
{
    padding-right: 4.8em;
    position: relative;
    min-height: 2em;
    line-height: 2em;
}

.k-filtercell > .k-operator-hidden
{
    padding-right: 2.3em;
}

.k-filtercell > span > .k-button,
.k-filter-row .k-dropdown-operator
{
    position: absolute;
    top: 0;
    right: 0;
}

.k-filter-row .k-dropdown-operator
{
    width: 2.1em;
    right: 2.5em;
}

.k-filtercell > span > label
{
    vertical-align: middle;
}

.k-filter-row label > input[type="radio"]
{
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

.k-ie10 .k-grid-header a:active
{
    background-color: transparent; /*remove gray background*/
}

.k-grid-header th.k-header > .k-link
{
    display: block;
    min-height: 18px;
    line-height: 18px; /* due to sorting icons*/
    margin: -.5em -.6em -.4em -.6em;
    padding: .5em .6em .4em .6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.k-grid-header th.k-with-icon .k-link
{
    margin-right: 1.3em;
}

.k-grid-header th.k-header .k-icon
{
    position: static;
}

.k-grid-header th > .k-link > .k-icon
{
    vertical-align: text-top;
}

.k-grid .k-state-hover
{
    cursor: pointer;
}

/*fixes Chrome 38+ column resizing glitches*/
.k-grid th,
.k-grid td
{
    -webkit-transform: translateZ(0);
}

.k-grid td
{
    border-style: solid;
    border-width: 0 0 0 1px;
    padding: .4em .6em;
    overflow: hidden;
    line-height: 1.6em;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.k-grid .k-grouping-row td,
.k-grid .k-hierarchy-cell
{
    overflow: visible;
}

.k-grid-edit-row td
{
    text-overflow: clip;
}

.k-grid-edit-row .k-textbox,
.k-grid-edit-row .text-box
{
    /*reset default webkit styles*/
    margin-top:0;
    margin-bottom:0;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-style: solid;
    border-width: 0 1px 0 0;
    zoom: 1;
}

div.k-grid-header,
div.k-grid-footer
{
    padding-right: 17px; /* scrollbar width; may vary; can be calculated */
    border-bottom-style: solid;
    border-bottom-width: 1px;
    zoom: 1;
}

.k-grid-header-wrap > table,
.k-grid-header-locked > table
{
    margin-bottom: -1px;
}

.k-grid-content
{
    position: relative;
    width: 100%;
    overflow: auto;
    overflow-x: auto;
    overflow-y: scroll;
    zoom: 1;
}

.k-mobile .k-grid tbody
{
    -webkit-backface-visibility: hidden;
}

.k-mobile .k-grid-backface tbody
{
    -webkit-backface-visibility: visible;
}

.k-grid-content-expander
{
    position: absolute;
    visibility: hidden;
    height: 1px;
}

@media print
{
    .k-grid
    {
        height: auto !important;
    }

    .k-grid-header
    {
        padding: 0 !important;
    }

    .k-grid-header-wrap,
    .k-grid-content
    {
        overflow: visible;
        height: auto !important;
    }
}

.k-virtual-scrollable-wrap
{
    height: 100%;
    overflow-y: hidden;
    position:relative;
}

.k-grid-header table,
.k-grid-content table,
.k-grid-footer table,
.k-grid-content-locked > table
{
    table-layout: fixed;
}

.k-ie7 .k-grid-content table { width: auto; }

/* Grid :: locked columns */

.k-grid-lockedcolumns
{
    white-space: nowrap;
}

.k-grid-content-locked,
.k-grid-content,
.k-pager-wrap
{
    white-space: normal;
}

.k-grid-header-locked,
.k-grid-content-locked,
.k-grid-footer-locked
{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;  /* generally uneeded */
    position: relative;
    border-style: solid;
    border-width: 0 1px 0 0;
}

.k-grid-header-locked + .k-grid-header-wrap,
.k-grid-content-locked + .k-grid-content,
.k-grid-footer-locked + .k-grid-footer-wrap
{
    display: inline-block;
    vertical-align: top;
}

.k-grid-toolbar
{
    border-style: solid;
    border-width: 1px 0 0;
}

.k-grid-header th.k-header:first-child,
.k-grid tbody td:first-child,
.k-grid tfoot td:first-child,
.k-filter-row > th:first-child
{
    border-left-width: 0;
}

.k-grid-header th.k-header.k-first
{
    border-left-width: 1px;
}

.k-grid-toolbar:first-child,
.k-grouping-header+.k-grid-toolbar
{
    border-width: 0 0 1px;
}

/* Grid :: footer */

.k-footer-template td
{
    border-style: solid;
    border-width: 1px 0 0 1px;
}

.k-group-footer td
{
    border-style: solid;
    border-width: 1px 0;
}

.k-group-footer .k-group-cell + td
{
    border-left-width: 1px;
}

.k-grid-footer
{
    border-style: solid;
    border-width: 1px 0 0;
}

.k-grid-footer td
{
    border-top-width: 0;
}

.k-grid-footer > td
{
    border-top-width: 1px;
}

/* Grid :: paging */

.k-pager-wrap
{
    clear: both;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    line-height: 2.0em;
    padding:0.333em 0 0.333em 0.250em;
}

.k-grid-pager
{
    border-width: 1px 0 0;
}

.k-grid .k-pager-numbers,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected
{
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
}

.k-pager-numbers
{
    margin:0 2px;
}

.k-pager-numbers .k-state-selected
{
    vertical-align:top;
}

.k-pager-numbers li,
.k-pager-input
{
    float:left;
}

.k-grid .k-pager-numbers
{
    float: left;
    cursor: default;
}

.k-pager-info
{
    float: right;
    padding:0 1.333em;
}

.k-pager-numbers .k-link
{
    text-decoration: none;
}

.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected
{
    min-width: 2em;
}

.k-pager-wrap>.k-link
{
    float:left;
    margin:0 0.08333em;
    height: 2em;/*IE7*/
    line-height: 2em;/*IE7*/    
    border-radius: 1.0833em;
    cursor:pointer;
    text-align: center;
}

.k-pager-wrap>a.k-state-disabled:hover
{
    background:none;
    cursor:default;
}

.k-pager-numbers .k-link
{
	text-align: center;
    line-height:2em;
    border-style:solid;
    border-width:1px;
    border-radius: 1.0833em;
}

.k-pager-wrap>.k-link
{
    border-style:solid;
    border-width:1px;
}

.k-pager-wrap .k-pager-refresh
{
    float:right;
    margin-right:0.5em;
    border-width:0;
    border-radius: 0;
}

.k-pager-numbers .k-state-selected
{
    border-style:solid;
    border-width:1px;
	text-align: center;
    border-radius: 1.0833em;
}

.k-pager-wrap .k-textbox
{
    width:3.333em;
}

.k-ie7 .k-pager-wrap .k-textbox
{
    height:1.3333em;
    margin-top:0.16666em;
    display:inline;
}

.k-pager-wrap .k-dropdown
{
    width:4.500em;
}

.k-pager-refresh
{
    float:right;
}

.k-pager-input,
.k-pager-sizes
{
    padding: 0 1.4166em;
}

.k-pager-sizes
{
    display: inline-block;
    padding-top: 1px;
}

.k-pager-sizes .k-widget.k-dropdown
{
    margin-top: -2px;
}

.k-ie7 .k-pager-sizes
{
    float:left;
}

.k-pager-wrap .k-textbox,
.k-pager-wrap .k-widget
{
    margin: 0 .4em 0;
}

/* Grid :: filtering */

.k-header > .k-grid-filter,
.k-header > .k-header-column-menu
{
    float: right;
    margin: -.5em -.6em -.4em;
    padding: .5em .2em .4em;
    position: relative;
    z-index: 1; /*mvc site.css*/
}

.k-grid .k-animation-container
{
    position: absolute;
}

.k-filter-menu
{
    padding: .5em;
}

form.k-filter-menu .k-widget,
form.k-filter-menu .k-textbox
{
    display: block;
}

.k-filter-help-text,
.k-filter-menu .k-widget,
.k-filter-menu .k-textbox
{
    margin: .19em 0 0;
}

.k-filter-menu span.k-filter-and
{
    width: 6em;
    margin: .5em 0 .5em;
}

.k-filter-menu .k-button
{
    width:48%;
    margin: .5em 4% 0 0;
}

.k-filter-menu .k-button+.k-button
{
    margin-right: 0;
}

/* Grid :: grouping */

.k-grouping-row .k-icon
{
    margin: -3px 4px 0 2px;
}

.k-grouping-row p
{
    display: inline-block;
    vertical-align: middle;
    margin-left: -.6em;
    padding: 0 .6em;
}

.k-grouping-row + tr td
{
    border-top-width: 1px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row+tr .k-group-cell
{
    border-top-width: 0;
    text-overflow: none;
}

.k-grid .k-hierarchy-cell+td
{
    border-left-width: 0;
}

.k-grid .k-group-col,
.k-grid .k-hierarchy-col
{
    width: 27px;
}

.k-grouping-header
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.k-grouping-header
{
    line-height: 2;
}

.k-grouping-dropclue
{
    position: absolute;
    width: 6px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: -165px -148px;
}

.k-grouping-header .k-group-indicator
{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    margin: 0 3px;
    padding: .15em .15em .15em .4em;
    line-height: 1.5em;
}

.k-grouping-header .k-link
{
    display: inline-block;
    border-width: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

.k-grouping-header .k-button
{
    border: 0;
    padding: 0;
    background: transparent;
    line-height: 1;
}

.k-grouping-header .k-link .k-icon
{
    margin: 0 0 0 -3px;
}

.k-grouping-header .k-button .k-icon
{
    margin: 0 0 0 3px;
}

.k-grouping-header a,
.k-grouping-header .k-button
{
    display: inline-block;
    vertical-align: middle;
}

/* Grid :: editing */

.k-dirty-cell:before
{
    content:"\a0";
    display: inline-block;
    width: 0;
    float: left;
}

.k-ie7 .k-dirty-cell
{
    position: relative;
}

.k-ie7 .k-dirty
{
    top: 5px;
}

.k-dirty
{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #f00 transparent transparent #f00;
    margin: -0.45em 0 0 -0.6em;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
}

.k-grouping-header,
.k-grid-toolbar
{
    margin: 0;
    padding: @grid-header-padding;
    cursor: default;
}

.k-grid .k-edit-container
{
    padding: 0;
}

.k-grid .field-validation-error
{
    display: block;
}

.k-grid .input-validation-error
{
    border-style: ridge;
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-grid-toolbar .k-button
{
    vertical-align: middle;
}

.k-grid-actions
{
    display: inline-block;
}

.k-ie7 .k-grid-actions{ vertical-align: bottom; }

.k-grid .k-button
{
    margin: 0 .16em;
}

@grid-button-min-width: 64px;

.k-grid tbody .k-button,
.k-ie8 .k-grid tbody button.k-button
{
    min-width: @grid-button-min-width;
}

.k-grid tbody button.k-button
{
    min-width: @grid-button-min-width + 14; /* for all except IE8 */
}

.k-ie7 .k-grid tbody a.k-button
{
    min-width: @grid-button-min-width - 2; /* for IE7 link buttons */
}

html body .k-grid tbody .k-button-icon
{
    width: auto;
    min-width: 0;
}

.k-detail-row
{
    position: relative;
}

.k-grid .k-detail-cell
{
    overflow: visible;
}

.k-grid .k-edit-cell
{
    padding: 0 .3em;
    white-space: nowrap;
}

.k-grid .k-edit-cell .k-tooltip
{
    white-space: normal;
}

.k-edit-cell>.k-textbox,
.k-edit-cell>.k-widget,
.k-grid-edit-row>td>.k-textbox,
.k-grid-edit-row>td>.k-widget,
.k-grid-edit-row>td>.text-box
{
    width: 100%;
}

.k-ie7 .k-edit-cell>.text-box,
.k-ie7 .k-edit-cell>.k-textbox,
.k-ie7 .k-edit-cell>.k-widget,
.k-ie7 .k-grid-edit-row>td>.k-textbox,
.k-ie7 .k-grid-edit-row>td>.k-widget,
.k-ie7 .k-grid-edit-row>td>.text-box,
{
    display: block;
    width: 90%;
}


html .k-edit-cell .k-tooltip,
html .k-grid-edit-row .k-tooltip
{
    width: auto;
    max-width: 300px;
}

.k-edit-cell input[type="checkbox"]
{
    margin-left: .6em;
}

.k-grid tbody td>.k-grid-delete
{
    margin-top: -.2em;
    margin-bottom: -.2em;
}

/* Grid :: resizing */

.k-grid-resize-indicator
{
    position: absolute;
    width: 2px;
    background-color: #aaa;
}

.k-grid-header .k-resize-handle,
.k-grid > .k-resize-handle
{
    position: absolute;
    height: 25px;
    cursor: col-resize;
    z-index: 2;
}

.k-marquee
{
    position: absolute;
    z-index: 100000; // above windows
}

.k-marquee-color,
.k-marquee-text
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.k-marquee-color
{
    filter: alpha(opacity=60);
    opacity: .6;
}

.k-ie9 .k-column-menu
{
    width: 160px; /*fix flicker on item hover*/
}

.k-ie8 .k-grid-filter,
.k-ie8 .k-header-column-menu
{
    font-size: 100%; /* Fix small menus in IE8 */
}

.k-column-menu
{
    min-width: 160px;
}

.k-column-menu .k-sprite
{
    margin-right:10px;
}

.k-column-menu > .k-menu
{
    border-width: 0;
}

.k-columns-item .k-group
{
    max-height: 200px;
    overflow: auto;
}

